/*GLOBAL*/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: static !important;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    font-family: 'Gelion', sans-serif;
}

main {
    display: block;
}

.container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

a {
    text-decoration: none;
}

.flex-row {
    display: flex;
}

.align-justify {
    justify-content: space-between;
}

body {
    background: linear-gradient(360deg, #FFFFFF -4.58%, #FFFFFF 102.22%);
}

.rel-wrap {
    position: relative;
}

.stretched-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    z-index: 1;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button {
    display: inline-block;
    color: #FFF;
    border: 2px solid #FF383D;
    border-radius: 46px;
    background-color: #FF383D;
    padding: 15px 45px;
    text-decoration: none;
    transition: all .3s ease;
}

.button:hover,
.button:focus {
    background-color: transparent;
    color: #FF383D;
}

.hollow-button {
    color: #FF383D;
    border: 2px solid #FF383D;
    border-radius: 46px;
    background-color: transparent;
    padding: 15px 45px;
    text-decoration: none;
    transition: all .3s ease;
}

.hollow-button:hover,
.hollow-button:focus {
    background-color: #FF383D;
    color: #FFF;
}

.red-hat {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
}

/*FONTS*/
@font-face {
    font-family: 'Gelion';
    src: url('assets/fonts/Gelion-Bold.woff') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('assets/fonts/Gelion-Medium.woff') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('assets/fonts/Gelion-Regular_1.woff') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gelion';
    src: url('assets/fonts/Gelion-SemiBold_1.woff') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/*HEADER*/
header {
    margin-top: 35px;
}

.header__logo {
    display: block;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu ul li {
    display: inline-block;
}

.header__menu a {
    text-decoration: none;
    padding: 10px 25px;
    color: #035755;
    position: relative;
}

.header__menu ul li a:before {
    position: absolute;
    content: '';
    height: 6px;
    width: 6px;
    background-color: transparent;
    border-radius: 50%;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease;
}

.header__menu ul li a:hover,
.header__menu a:focus {
    color: #FA5652;
}

.header__menu ul li a:hover:before,
.header__menu ul li a:focus:before {

    background-color: #FA5652;
}

/*HERO*/
.hero-section__text-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section {
    margin-top: 40px;
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /*background: linear-gradient(0deg, rgba(255, 255, 255, 0) -29.64%, #FFF8F8 45.66%, #B57474 45.66%);*/
}

.hero-section__text-heading {
    color: #FA5652;
    font-weight: 700;
    font-size: 32px;
}

.hero-section__text-title {
    font-size: 52px;
    text-transform: capitalize;
. button color: #035755;
}

.hero-section__text {
    max-width: 635px;
}

.hero-section__text-sub {
    text-transform: capitalize;
    color: #4B4F51;
    line-height: 2;
}

.hero-section__text-btn {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    max-width: 250px;
}


/*CARDS*/
.cards-section {
    position: relative;
    padding-bottom: 200px;
}

.cards-section .container {
    z-index: 2;
}

.cards-section__decor {
    position: absolute;
    z-index: 1;
    left: 4%;
    bottom: 200px;
}

.cards-section__intro {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.cards-section__intro-heading {
    font-size: 29px;
    color: #FA5652;
    font-weight: bold;
    margin-bottom: 10px;
}

.cards-section__intro-title {
    font-size: 50px;
    color: #035755;
    font-weight: bold;
    margin: 0 0 20px;
}

.cards-section__intro-sub {
    line-height: 2.1;
}

.cards-section__intro p {
    max-width: 570px;
}

.cards-section__cards {
    z-index: 2;
    justify-content: space-between;
    margin-top: 80px;
}

.cards-section__card {
    background-color: #FFFFFF;
    text-decoration: none;
    flex-direction: column;
    display: flex;
    align-items: center;
    /*flex: 0 0 calc(33%-15px);*/
    border-radius: 10px;
    padding: 50px 55px 70px;
    max-width: 460px;
    box-shadow: 0px 5px 80px rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
}

.cards-section__card:hover:before {
    position: absolute;
    height: 6px;
    content: '';
    width: 100%;
    background-color: #FA5652;
    bottom: 0;
    left: 0;
    transition: all .3s ease;
}

.cards-section__card-img {
    width: 270px;
    height: 260px;
}

.cards-section__card-content {
    text-align: center;
    color: #000;
}

.cards-section__card-content h3 {
    color: #035755;
    font-weight: bold;
    font-size: 36px;
}

.cards-section__card-content p {
    font-size: 18px;
    line-height: 215%;
}

.cards-section__intro-sub {
    text-transform: capitalize;
}

/*FOOTER*/
.footer {
    background: linear-gradient(
            360deg, rgba(255, 241, 241, 0.5) 0%, rgba(255, 241, 241, 0) 108.69%);
    /*padding: 170px 0 310px;*/
}

.footer__logo {
    display: block;
}

.footer__copy {
    text-align: center;
    margin-bottom: 85px;
}

.footer__menu ul li {
    display: inline-block;
}

.footer__menu ul li a {
    padding: 10px 30px;
    color: #035755;
    transition: all 0.3s ease;
}

.footer__menu ul li a:hover,
.footer__menu ul li a:focus,
.footer__socials a:hover,
.footer__socials a:focus {
    opacity: 0.5;
}

.footer__socials a {
    color: #035755;
    margin: 0 20px;
    transition: all 0.3s ease;
}

.footer__socials a:last-child {
    margin-right: 0;
}

.footer__socials .fa-youtube {
    color: #F44A45;
}

/*CONTACT*/
.contact-form {
    padding-bottom: 170px;
}

.contact-form__title {
    text-align: center;
    display: flex;
    justify-content: center;
}

.contact-form__title p {
    max-width: 740px;
    color: #035755;
    font-size: 64px;
    font-weight: bold;
}

.contact-form__form-wrap {
    display: flex;
    justify-content: center;
    align-items: center
}

.contact-form__form-wrap form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 790px;
    background-color: #FFFFFF;
    border-radius: 57px;
    padding: 18px;
    box-shadow: 0px 0px 20px 15px rgba(0 0 0 / 3%);
    height: 115px;
}

.contact-form__form-wrap form input[type="email"] {
    font-size: 22px;
    height: 100%;
    border: none;
    box-shadow: none;
    outline: none;
}

.contact-form__form-wrap form input[type="email"]:hover,
.contact-form__form-wrap form input[type="email"]:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.contact-form__form-wrap form input[type="email"]::placeholder {
    color: #035755;
    font-size: 22px;
}

.contact-form__form-wrap form input[type="submit"] {
    transition: all .3s ease;
    border-radius: 57px;
    background-color: #F44A45;
    padding: 25px 80px;
    color: #FFFFFF;
    font-size: 22px;
    border: 2px solid #F44A45;
    cursor: pointer;
}

.contact-form__form-wrap form input[type="submit"]:hover,
.contact-form__form-wrap form input[type="submit"]:focus {
    background: transparent;
    color: #000000;
}